.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

.button {
  width: 45px;
  height: 45px;
  margin: 3px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #e0e0e0;
}

.button:active {
  background-color: #d0d0d0;
  box-shadow: none;
}
