.display {
  margin: 10px;
  width: 190px;
  font-size: 25px;
  color: blanchedalmond;
  border: none;
  background-color: #999595;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}